/* MAIN */

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--main-width);
    margin-inline: auto;
    margin-block: 20vh;
    min-height: 100vh;
}

/* FORM */

form {
    width: 50%;
    margin-inline: auto;
    padding: 2em;
    color: white;
}

form div {
    display: flex;
    flex-direction: column;
    gap: .25em;
    margin-block: 1em;
}

form div label {
    font-size: 80%;
}

form div select {
    padding: .5em .75em;
    background: rgba(0, 115, 185, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(29, 146, 218, 0.6);
    border-radius: 1em;
    color: white;
}

form div select optgroup {
    background: rgba(1, 29, 47, 0.75);
    font-weight: 500;
}

form div select:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

form div select[multiple] {
    min-height: 10vh;
    max-height: 20vh;
    outline: none;
}

form div select[multiple]:focus {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

form div select[multiple] option {
    padding-inline: .5em;
    border-radius: 1em;
}

form div select[multiple] option:checked {
    background-color: black;
    color: white;
}

form div button {
    width: 30%;
    align-self: flex-end;
    margin: 0;
}

/* HOMEPAGE */

main#homepage {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 4em;
    color: white;
    overflow: hidden;
}

main#homepage section {
    padding: 1em;
    width: 70%;
    margin-inline: auto;
    font-size: 95%;
}

.button-action {
    margin-top: 2rem;
    padding-block: 1em;
    width: fit-content;
    border-radius: 1em;
    transition-duration: 250ms;

    background: rgba(0, 115, 185, 0.24);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(29, 146, 218, 0.56);
}

.button-action:hover {
    background-color: black;
}

.button-action a {
    padding: 1em;
    color: white;
    transition-duration: 250ms;
}

.svg-wave {
    position: relative;
    width: 100vw;
    margin-top: -90vh;
    z-index: -2;
    margin-bottom: -20vh;
}

#card-info {
    background-color: black;
}

#card-info section {
    width: 70%;
}

.svg-wave-reversed {
    position: relative;
    width: 100vw;
    margin-top: -20vh;
    margin-bottom: -40vh;
    z-index: -2;
    transform: rotate(180deg);
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card-single {
    font-size: 0.7rem;
    width: 12vmax;
    height: 8vmax;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    background: rgba(4, 19, 53, 0.24);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(29, 146, 218, 0.56);
    transition-duration: 200ms;
}

.card-single:hover {
    background: rgba(76, 106, 178, 0.24);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(4, 19, 53, 0.56);
}

.card-single:not(:last-of-type)::after {
    content: ">";
    position: absolute;
    width: 1em;
    height: 1em;
    color: white;
    font-size: 1.5rem;
    top: calc(50% - 1rem);
    right: -38%;
}

#to-tutorial {
    margin-top: -50vh;
}

/* FIELD/GROUP FORM */

main#choose {
    flex-direction: column;
    margin-top: 10vh;
}