@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;500;700&display=swap');

:root {
    --accent-color: rgb(123, 186, 227);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
    background-color: rgba(52, 67, 102, 1);
    background-image: linear-gradient(90deg, rgba(52, 67, 102, 1) 0%, rgba(76, 106, 178, 1) 100%);
}

h1 {
    font-weight: 500;
    margin: .5em 1em;
}


button {
    padding: .5vh .5vw;
    margin: .5vh .5vw;
}

/* HEADER */

header,
footer {
    width: 90%;
    margin-inline: auto;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    color: white;
    background-color: transparent;
}

header {
    border-bottom: 1px solid white;
    padding: .25rem 0;
}

header h1 {
    font-size: 1.4rem;
}

/* MAIN */

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin-inline: auto;
    margin-block: 8vh;
}

.plan {
    display: flex;
    justify-content: space-evenly;
}

.plan-day {
    width: 14vw;
    margin: .5vh .5vw;
}

.plan-single {
    /* background-color: white; */
    background: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    padding: .5vh .5vw;
    width: 100%;
    height: 7vh;
    font-size: 0.75vw;
    border-radius: 1em;
}

.plan-single h4 {
    font-weight: 500;
    margin-bottom: 1vh;
}

.today {
    background-color: rgba(55, 147, 252, 0.8);
}

.weekdays {
    /* margin: auto; */
    /* width: 85%; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2vh;
}

.day-single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: var(--accent-color);
    border-radius: 1em;
    padding: .5vh .5vw;
    margin: .25vh .5vw;
    width: 14vw;
    height: 7vh;
    font-size: 0.9vw;
    color: black;
}

.day-single * {
    font-weight: 400;
}

.day-single.today {
    background-color: black;
    color: white;
}

.empty {
    width: 100%;
    padding: .5vh .5vw;
    margin: .25vh 0;
    text-align: center;
    font-weight: 500;
    color: white;
}

.buttons-week form {
    left: 2vw;
    height: 80%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.buttons-week form:nth-of-type(2) {
    left: unset;
    right: 2vw;
}

.buttons-week button {
    padding: 1.5em 1em;
    background-color: var(--accent-color);
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition-duration: .25s;
}

.buttons-week button:hover {
    background-color: black;
    color: white;
}

.hours {
    font-size: 0.75vw;
    text-align: center;
    margin-top: 10vh;
    /* padding: .2rem; */
    width: 7%;
}

.hours p {
    position: relative;
    line-height: 3vh;
    background-color: rgba(255, 255, 255, 0.3);
}

.hours p:first-of-type {
    border-top-left-radius: 1em;
}

.hours p:last-of-type {
    border-bottom-left-radius: 1em;
}

.hours p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0vw;
    width: calc(60vw + 100%);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.hours p:first-of-type::after {
    height: calc(100% - 1px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius: 1em;
}

.hours p:last-of-type::after {
    height: calc(100% - 1px);
    border-bottom-left-radius: 1em;
}

.timetable {
    width: 60vw;
}

/* FOOTER */

footer {
    margin-top: 1rem;
    
    border-top: 1px solid white;
}

/* HOMEPAGE */

main#homepage {
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 4em;
    color: white;
}

main#homepage > section {
    padding: 1em;
    border-inline: 1px solid white;
}

main#homepage > section > h2 {
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

main#homepage section#choose form {
    width: 50%;
    margin-inline: auto;
    padding: 2em;
}

main#homepage section#choose form div {
    display: flex;
    flex-direction: column;
    margin-block: 1em;
}

main#homepage section#choose form div label {
    font-size: 80%;
}

main#homepage section#choose form div button {
    width: 30%;
    align-self: flex-end;
    margin: 0;
}


/* GLOBAL */

span.bold {
    font-weight: 500;
}

p.note {
    font-size: 80%;
    margin-bottom: 1rem;
    margin-left: 1rem;
    position: relative;
    color: white;
    width: 100%;
}

p.note::after {
    content: '';
    height: 100%;
    border-left: 1px solid red;
    bottom: 0;
    left: -1rem;
    position: absolute;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    color: rgb(80, 178, 244);
}

button {
    background-color: var(--accent-color);
    color: black;
    border: none;
    padding: .5em 1em;
    border-radius: 1em;
    cursor: pointer;
    transition-duration: .25s;
}

button:hover {
    background-color: black;
    color: white;
}