{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="about">
        <section id="about-us">
            <h2>O nas</h2>
            <p class="note">
                Obecnie nad projektem pracuje tylko jedna osoba. <br />
                Chcesz pomóc? Skontaktuj się na <a href="mailto:contact@wzarek.me">contact@wzarek.me</a> <br />
            </p>
            <h3>Maciej Krawczyk</h3>
            <p>
                Programista, fotograf i filmowiec w jednym. <br />
                Mam 21 lat i studiuję na Politechnice Wrocławskiej. Moim hobby jest robienie aplikacji takich jak ta, które mają za zadanie <span class="bold">uprościć życie codzienne</span>. <br />
                Na swoim koncie nie mam jeszcze zbyt dużego doświadczenia, ale cały czas ono rośnie. <br />
                Jestem w trakcie tworzenia paru innych - myślę, że przydatnych - aplikacji. Między innymi jest to aplikacja nadzorująca prace domowe ze współlokatorami czy narzędzie do generowania CV. <br />
                Moje dokonania możesz śledzić na <a target="_blank" href="https://wzarek.me"><span class="bold">mojej stronie internetowej</span></a>.
            </p>
        </section>
    </main>
{% endblock content %}

{% block footer %}
    <p></p>
    <p>widzisz błąd na stronie? <a href="mailto:contact@wzarek.me">zgłoś to</a></p>
{% endblock footer %}