{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="choose">
    <form method='get' action="{% url 'chooser-group' %}">
        <div class="form-field">
            <label for="field">wybierz kierunek</label>
            <select name="field" id="field">
                {% for name, fields in fieldsFiltered.items %}
                <optgroup label="{{ name }}">
                    {% for field in fields %}
                        <option value="{{ field.slug }}">{{ field.name }}, {{ field.year }} rok, {{ field.degree }}, {{ field.type }}</option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
        </div>
        <p class="note">
            Twojego kierunku nie ma na liście? Zgłoś to na <a href="mailto:contact@wzarek.me">contact@wzarek.me</a>
        </p>
        <div class="form-field">
            <button type="submit">przejdź dalej</button>
        </div>
    </form>
</main>
{% endblock content %}