{% extends 'base.html' %}
{% load static %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@jaycverg/select-pure@0.6.0-alpha.1/dist/bundle.min.js"></script>
<script defer>
    const myOptions = [
        {% for name, fields in fieldsFiltered.items %}
            {% for field in fields %}
            {
                label: '{{ field.name }}, {{ field.year }} rok, {{ field.degree }}, {{ field.type }}',
                value: '{{ field.slug }}'
            },
            {% endfor %}
        {% endfor %}
    ];
    let instance = new SelectPure(".masno", {
            options: myOptions
        });
</script>
{% endblock scripts %}
{% block content %}
<main id="choose">
    <span class="masno">

    </span>
    <form method='get' action="{% url 'chooser-group' %}">
        <div class="form-field">
            <label for="field">wybierz kierunek</label>
            <select name="field" id="field">
                {% for name, fields in fieldsFiltered.items %}
                <optgroup label="{{ name }}">
                    {% for field in fields %}
                        <option value="{{ field.slug }}">{{ field.name }}, {{ field.year }} rok, {{ field.degree }}, {{ field.type }}</option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
        </div>
        <p class="note">
            Twojego kierunku nie ma na liście? Zgłoś to na <a href="mailto:contact@wzarek.me">contact@wzarek.me</a>
        </p>
        <div class="form-field">
            <button type="submit">przejdź dalej</button>
        </div>
    </form>
</main>
{% endblock content %}